body {
    margin: 0;
    background-color: azure;
    font-size: 1.2em;
    font-family: Calibri, sans-serif;
    color: darkslategrey;

}
img.logo{
position:fixed;
top:0;
right:0;
margin:15px 15 0 0;
opacity:0.5;
border:solid black;
padding:5px;

}

table {
    text-align: center;
    margin: 10px;
    padding: 30px;
}

h4 {}

.alg {
    text-align: left;

    font-size: 1.2em;
    border-left: 6px solid blue;
    background-color: lightsteelblue;


}

.contact {
    text-align: center;
    display: inline-block;
    border: solid black 1px;
    margin-top: 25%;
    margin-left: 30%;
    padding: 20px;


}

p.alg {
    padding-left: 10px;
}

.main {
    margin-left: 17%;
    padding: 1px 40px;
    height: 700px;
}

.nav {
    list-style-type: none;
    margin: ;
    padding: 10px;
    width: 17%;
    background-color: #00439a;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#sp {
    float: none;
}

.box {
    border: solid green;
}

h1 {
    background-color: blue;

    padding: 10px;
    margin: 10px;
    border: px solid white;
    color: azure;
    display: inline-block;
}


li a {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
}

h4.tip {
    background-color: darkslateblue;

    padding: 5px;
    margin: 8px;
    border: px solid white;
    color: azure;
    display: inline-block;
}

li a.active {

    background-color: #ffd500;
    color: white;
}

li a:hover:not(.active) {
    padding-left: 25px;
    background-color: #ffd500;
    color: white;
}

#rc {
    background-color: chocolate;
    display: block;
    height: auto;
    overflow: auto;

}

q {
    padding-left: 10px;
    padding-top: 10px;
}

img {
    float: right;
    padding: 0px 10px px px;
}

.next {
    background-color: skyblue;
    overflow: auto;
    padding-left: 15px;
}
