body {
    margin: 0;
    background-color:azure;
    font-size: 1.2em;
    font-family:Calibri, sans-serif;
    
    
}
h4 {
    
}
.alg{
    text-align: center;
    border-style: solid;
    
}
.main {
    margin-left: 25%;
    padding:1px 16px;
    height:700px;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
h1 {
    background-color: cornflowerblue;
        padding-bottom: 15px;
    
    
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
#rc {
    background-color: chocolate;
    display: block;
    height:auto;
    overflow: auto;
    
}
img {
    float:right;
    padding:0px 10px px px;
}
.next {
    background-color: darkcyan;
    overflow: auto;
}